{{define "call"}}{{with .Receiver}}{{if not .IsStruct}}testCase.{{end}}{{Receiver
.}}.{{end}}{{.Name}}({{range $i, $el := .Parameters}}{{if $i}}, {{end}}{{if not
.IsWriter}}testCase.args.{{end}}{{Param .}}{{if
.Type.IsVariadic}}...{{end}}{{end}}){{end}}
